.text-bold {
  font-weight: bold;
}

.read-the-docs {
  color: #888;
}

.coffee_billing_layout {
  width: 100%;
  display: flex;
  column-gap: 20px;
  padding: 20px 20px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  background-color: var(--background-color);
}

.card {
  padding: 2em;
  background-color: var(--background-card);
  border-radius: 10px;
}

.items_listing_container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-content: flex-start;
  justify-content: start;
  overflow-y: scroll;
}

.billing_area {
  width: 20%;
  height: 100%;
  color: var(--text-color);
  > .empty_cart {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    > img {
      width: 100px;
    }
  }
  > .billing_items_listing {
    height: 60%;
    overflow-y: scroll;
    > .billng_item {
      display: flex;
      justify-content: space-between;
      border: 3px solid black;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 15px;
    }
  }
  > .billing_pricing_area {
    height: 40%;
    > .pricing_and_taxing {
      list-style-type: none;
      padding: 0px;
      li {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
      }
    }
    > .cart_operations {
      display: flex;
      justify-content: space-between;
    }
  }
}

.product_card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--background-card);
  border: 3px solid black;
  width: calc((100% / 4) - 20px);
  height: 120px;
  color: var(--text-color);
  align-items: center;
  > .product_name {
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  > .counter_btn {
    display: flex;
    gap: 10px;
    align-items: center;
    > button {
      width: 80px;
      height: 40px;
      background-color: rgb(211, 248, 211);
      border-radius: 20px;
      color: var(--text-color);
      border: 3px solid black;
    }
  }

  > .add_to_cart_btn {
    width: 100%;
    height: 40px;
    background-color: rgb(211, 248, 211);
    border-radius: 20px;
    color: var(--text-color);
    border: 3px solid black;
  }
}

/* Header component design */
.header {
  width: 100%;
  height: 50px;
  display: flex;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: var(--background-color);

  > .start {
    width: 50%;
  }
  > .end {
    display: flex;
    width: 50%;
    justify-content: end;
  }
}
